@model BenchBnb.FormModels.CreateBench
@{
    ViewBag.Title = "Detail";
}


<h2>Bench Details</h2>

<div>
    
    <p>Description: @Model.Description</p>
    <p>Number Of Seats: @Model.NumSeats</p>
    <p>Latitude: @Model.Latitude</p>
    <p>Longitude: @Model.Longitude</p>
    @if(Model.AverageRating==null)
    {
        <p>Rating: No Reviews</p>
    }
    else
    { <p>Rating: @Model.AverageRating</p> }
   <p>Written by: @Model.userTag</p>
    <p>Date: @Model.CreatedOn</p>
</div>


